/*
* Chat
*/

.conversation{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li{
        display: block;

        .message{
            background: $primary-darker;
            position: relative;
        }
    
        &.self{
            text-align: right;

            .message{
                background: $primary;
                color: $light;
            }
        }
    }

    
    /* width */
    ::-webkit-scrollbar {
        width: 5px
    }

    ::-webkit-scrollbar-track {
        background: $primary-darker;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $primary;
    }
}

.message{
    display: inline-block;

    &_name{
        // font-size: .7rem;
        display: inline;
    }

    &_dice{
        font-size: 0.7rem;
    }

    &_roll{
        display: block;
        text-align: right;
    }

    &_text{
        display: block;
    }

    .dice-image{
        position: relative;

        .rolls-sum{
            position: absolute;
            margin-left: -50%;
            transform: translateX(-50%);
            top: 0;
            text-shadow: -1px -1px $primary;
        }
    }
}

.scroll{
    height: calc(100vh - 360px);
    overflow-y: scroll;
}

[data-d]{
    
    &:not(.message_dice){
        cursor: pointer;
    }
}

.diceset{
    display: flex;
    flex-flow: wrap;
}

.dice{
    padding: 0.5rem 0;
    display: inline;

    [data-class='crit-win'],
    [data-class='crit-fail']{
        position: relative;

        &:after{
            position: absolute;
            display: block;
            top: -5px;
            left: 100%;
            color: white;
            font-family: monospace;
            transform: rotate(-16deg);
            font-style: italic;
            text-align: left;
            line-height: 1;
        }
    }

    [data-class='crit-win']{
        filter: drop-shadow(0 0 6px white);

        &:after{        
            content: " HELL YES!";
        }
    }

    [data-class='crit-fail']{
        filter: drop-shadow(0 0 6px black);

        &:after{        
            content: " OH SHIT!";
        }
    }
}

.videos{

    .full-screen{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;

        #player{
            width: 100%;
            height: 100%; 
        }
    }
}

.rolls{
    display: flex;
    font-size: 12px;

    .roll{
        &:after{
            content: '+';
            padding: 0 2px;
        }

        &:last-child:after{
            content: '';
        }
    }
}

.dice-menu{

    position: relative;
    transition: transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;

    img{
        transition:
            transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
        position: relative;
        z-index: 1;
    }

    &:after{
        transition:
            transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms,
            opacity 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
        content: '';
        background: rgba(0, 0, 0, 0.2);
        display: block;
        height: 9px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        margin: 0px 12px; 
    }

    &:hover{
        transform: translateY(-.8rem);
        z-index: 1;

        &:after{
            transform: translateY(.8rem) scale(.5);
            opacity: .5;
        }

        img{
            transform: rotate(20deg); 
        }

        .dice-rolls{
            opacity: 1;
            pointer-events: all;
        }
    }

    .dice-rolls{
        text-align: center;
        position: absolute;
        bottom: 20px;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        right: 0;
        padding: 10px 0 30px 0 !important;
        margin: 0 -10px;
        border-radius: 7px;
        pointer-events: none;
        opacity: 0;
        transition:
            opacity 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;

        li{
            position: relative;
            transition:
                transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;

            &:before{
                content: '';
                width: 14px;
                height: 14px;
                display: block;
                position: absolute;
                top: 8px;
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateX(-4px);
                opacity: 0;
                transition:
                    transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms,
                    opacity 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
            }

            &:hover{
                transform: scale(1.3);

                &:before{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            
        }
    }
}

[data-d="4"] .dice-rolls li:before {background-image: url('/images/d4.svg')}
[data-d="6"] .dice-rolls li:before {background-image: url('/images/d6.svg')}
[data-d="8"] .dice-rolls li:before {background-image: url('/images/d8.svg')}
[data-d="10"] .dice-rolls li:before {background-image: url('/images/d10.svg')}
[data-d="100"] .dice-rolls li:before {background-image: url('/images/d100.svg')}

.dice-button{
    span{
        color: #FFF;
        font-weight: 600;
        text-shadow: 1px 1px black;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
    }
}