/*
* Chat
*/

.conversation{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li{
        display: block;

        .message{
            background: $primary-darker;
            position: relative;
        }
    
        &.self{
            text-align: right;

            .message{
                background: $primary;
                color: $light;
            }
        }
    }

    
    /* width */
    ::-webkit-scrollbar {
        width: 5px
    }

    ::-webkit-scrollbar-track {
        background: $primary-darker;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $primary;
    }
}

.message{
    display: inline-block;

    &_name{
        font-size: .6rem;
        display: inline;
    }

    &_dice{
        // background-color: $primary;
        // color: $light;
        font-size: 0.6rem;
        // position: absolute;
        // left: -12px;
        // width: 30px;
        // height: 30px;
        // text-align: center;
        // padding: 0.5rem 0;
        // border-radius: 3px;
        // top: 12px;
        // transform: rotate(-20deg);
    }

    &_roll{
        display: block;
        text-align: right;
    }

    &_text{
        display: block;
    }
}

.scroll{
    height: calc(100vh - 370px);
    overflow-y: scroll;
}

[data-d]{
    
    &:not(.message_dice){
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-1rem);

        &:after{
            transform: translateY(1rem) scale(.5);
            opacity: .5;
        }

        img{
            transform: rotate(20deg); 
        }
    }
}

.diceset{
    display: flex;
}

.dice{
    padding: 0.5rem;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
    display: inline;

    span{
        position: absolute;
        color: #FFF;
        font-weight: 600;
        text-shadow: 1px 1px black;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    img{
        transition:
            transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
        position: relative;
        z-index: 1;
    }

    &:after{
        transition:
            transform 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms,
            opacity 0.3s cubic-bezier(0.3, 0.2, 0.4, 1) 0ms;
        content: '';
        background: rgba(0, 0, 0, 0.2);
        display: block;
        height: 9px;
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        border-radius: 50%;
        margin: 0px 12px; 
    }
}

// .composer{
    
// }
